/*
	MAIN STYLESHEET
*/
/*
	MY DEFAULT PAGE STYLES
	EDIT WITH DESIRED DESIGN
	#591.23
*/
/* line 11, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content {
  background-color: #EFEFEF;
  color: #525252;
  padding: 60px 50px;
}

/* line 16, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .instructions {
  width: 50%;
  margin: 0 auto 50px auto;
}

/* line 20, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields {
  width: 75%;
  margin: 0 auto 30px auto;
  position: relative;
}

/* line 25, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-new-field {
  width: 275px;
  position: relative;
  left: 75%;
  border: 2px solid #d8d8d8;
  background-color: #e2e2e2;
  border-radius: 15px;
}

/* line 33, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-new-field span {
  display: block;
  margin: 5px 0;
  position: relative;
  left: 5%;
  width: 90%;
  font-weight: bold;
}

/* line 41, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-new-field .options-new-field {
  margin: 0 15px;
}

/* line 44, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-new-field .options-new-field div {
  display: inline-block;
  padding: 2px 5px;
  width: 65px;
  text-align: center;
}

/* line 50, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-new-field .options-new-field div.video {
  color: #00cd00;
}

/* line 53, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-new-field .options-new-field div.audio {
  color: #0000cd;
}

/* line 56, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-new-field .options-new-field div.subtitle {
  color: #cd0000;
}

/* line 59, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-new-field .options-new-field div:hover {
  cursor: pointer;
  background-color: #d8d8d8;
}

/* line 67, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-options {
  width: 275px;
  position: relative;
  left: 75%;
  border: 2px solid #d8d8d8;
  background-color: #e2e2e2;
  border-radius: 15px;
  margin-top: 5px;
}

/* line 76, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-options span {
  display: block;
  margin: 5px 0;
  position: relative;
  left: 5%;
  width: 90%;
  font-weight: bold;
}

/* line 85, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-options .options {
  margin: 0 15px;
}

/* line 88, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-options .options div {
  display: inline-block;
  padding: 2px 5px;
  width: 90%;
}

/* line 92, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-options .options div label {
  margin-right: 15px;
}

/* line 95, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-options .options div input[type='text'] {
  border: 2px solid #d8d8d8;
  outline: none;
  padding: 0;
  width: 50px;
}

/* line 108, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .file-information {
  position: absolute;
  top: 0;
}

/* line 112, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .file-information label {
  font-weight: bold;
}

/* line 115, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .file-information input {
  width: 400px;
  border: 2px solid #d8d8d8;
  outline: none;
  margin: 0;
  padding: 5px;
}

/* line 123, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields {
  padding-top: 25px;
}

/* line 127, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields .field-header * {
  display: inline-block;
}

/* line 130, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields .field-header *:nth-child(1) {
  width: 150px;
}

/* line 133, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields .field-header *:nth-child(2) {
  width: 215px;
}

/* line 136, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields .field-header *:nth-child(3) {
  width: 77px;
}

/* line 139, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields .field-header *:nth-child(4) {
  width: 150px;
}

/* line 143, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields .field {
  margin: 5px 0;
}

/* line 145, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields .field .field-title {
  width: 150px;
  font-weight: bold;
  display: inline-block;
}

/* line 150, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields .field .track-name, .main-content .entry-fields .container-fields .field .track-default, .main-content .entry-fields .container-fields .field .track-language, .main-content .entry-fields .container-fields .field .track-forced {
  width: 0;
  border: 2px solid #d8d8d8;
  outline: none;
  margin: 0;
  padding: 0;
}

/* line 157, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields .field .track-name {
  width: 200px;
  padding: 5px;
}

/* line 161, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields .field .track-default, .main-content .entry-fields .container-fields .field .track-forced {
  width: 75px;
  padding: 5px;
}

/* line 165, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields .field .track-language {
  width: 150px;
  padding: 5px;
}

/* line 169, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields .field .remove {
  margin-left: 10px;
  color: red;
  font-weight: bold;
}

/* line 173, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .container-fields .field .remove:hover {
  cursor: pointer;
}

/* line 179, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .field-numbers {
  width: 65%;
  margin: 20px auto 0 auto;
}

/* line 183, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .field-numbers .number {
  display: inline-block;
  font-weight: bold;
  font-size: 1.25em;
  padding: 5px 20px;
  border: 2px solid #d8d8d8;
  border-radius: 25%;
}

/* line 190, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .entry-fields .field-numbers .number:hover {
  cursor: pointer;
  background-color: #d8d8d8;
}

/* line 197, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .output-fields {
  width: 50%;
  height: 450px;
  position: relative;
  margin: 0 auto;
}

/* line 203, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .output-fields .output-text {
  width: 98.5%;
  height: 400px;
  resize: none;
  border: 2px solid #d8d8d8;
  margin: 0;
  outline: none;
}

/* line 211, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .output-fields .button {
  display: inline-block;
  font-weight: bold;
  font-size: 1.15em;
  width: 45%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  bottom: 0;
  border-top: none;
  border-bottom: 2px solid #d8d8d8;
  border-left: 2px solid #d8d8d8;
  border-right: 2px solid #d8d8d8;
}

/* line 226, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .output-fields .button.save {
  position: absolute;
  left: 0;
  border-bottom-left-radius: 25px;
}

/* line 231, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .output-fields .button.copy {
  position: absolute;
  right: 1px;
  border-bottom-right-radius: 25px;
}

/* line 236, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content .output-fields .button:hover {
  cursor: pointer;
  background-color: #d8d8d8;
}

/* line 243, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.header {
  color: #F3F4F5;
  background-color: #27313C;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  padding: 20px 40px;
  position: relative;
}

/* line 250, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.header .logo {
  height: 150px;
}

/* line 253, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.header .phrase {
  position: absolute;
  right: 20px;
}

/* line 257, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.header .presets {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* line 263, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.footer {
  color: #F3F4F5;
  background-color: #292c2f;
  width: 90%;
  text-align: left;
  padding: 45px 5%;
}

/*
	END #591.23
*/
/*
	Page Layout
	STAYS THE SAME
	#11211
*/
/* line 280, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
body {
  min-width: 1100px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* line 286, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.main-content {
  flex: 1 0 auto;
}

/* line 289, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.footer, .header {
  flex: 0 0 auto;
}

/*
	END #11211
*/
/*
	MY DEFAULT STYLES
	#1034.02
*/
/* line 301, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.font-dosis {
  font-family: 'Dosis', sans-serif;
}

/* line 304, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.font-indieflower {
  font-family: 'Indie Flower', cursive;
}

/* line 307, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.font-mirza {
  font-family: 'Mirza', cursive;
}

/* line 310, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.clear {
  clear: both;
}

/* line 313, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 320, C:/Games-And-Stuff/#Server/GitHub/BatchGenerator/stylesheet/sass/style.scss */
.hidden {
  display: none !important;
}

/*
	END #1034.02
*/

/*# sourceMappingURL=../css/style.map */