/*
	MAIN STYLESHEET
*/


/*
	MY DEFAULT PAGE STYLES
	EDIT WITH DESIRED DESIGN
	#591.23
*/
.main-content{
	background-color: #EFEFEF;
	color: #525252;
	padding: 60px 50px;

	.instructions {
		width: 50%;
		margin: 0 auto 50px auto;
	}
	.entry-fields {
		width: 75%;
		margin: 0 auto 50px auto;
		position: relative;

		.container-new-field {
			width: 275px;
			position: relative;
			left: 75%;
			border: 2px solid #d8d8d8;
			background-color: #e2e2e2;
			border-radius: 15px;

			span {
				display: block;
				margin: 5px 0;
				position: relative;
				left: 5%;
				width: 90%;
				font-weight: bold;
			}
			.options-new-field {
				margin: 0 15px;

				div {
					display: inline-block;
					padding: 2px 5px;
					width: 65px;
					text-align: center;

					&.video {
						color: #00cd00;
					}
					&.audio {
						color: #0000cd;
					}
					&.subtitle {
						color: #cd0000;
					}
					&:hover {
						cursor: pointer;
						background-color: #d8d8d8;
					}
				}

			}
		}
		.container-fields {
			padding-top: 25px;

			.field-header {
				* {
					display: inline-block;
				}
				*:nth-child(1) {
					width: 150px;
				}
				*:nth-child(2) {
					width: 215px;
				}
				*:nth-child(3) {
					width: 77px
				}
				*:nth-child(4) {
					width: 150px;
				}
			}
			.field {
				margin: 5px 0;
				.field-title {
					width: 150px;
					font-weight: bold;
					display: inline-block;
				}
				.track-name, .track-default, .track-language {
					width: 0;
					border: 2px solid #d8d8d8;
					outline: none;
					margin: 0;
					padding: 0;
				}
				.track-name {
					width: 200px;
					padding: 5px;
				}
				.track-default {
					width: 75px;
					padding: 5px;
				}
				.track-language {
					width: 150px;
					padding: 5px;
				}
				.remove {
					margin-left: 10px;
					color: red;
					font-weight: bold;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
	.output-fields {
		width: 50%;
		height: 350px;
		position: relative;
		margin: 0 auto;

		.output-text {
			width: 98.5%;
			height: 300px;
			resize: none;
			border: 2px solid #d8d8d8;
			margin: 0;
			outline: none;
		}
		.button {
			display: inline-block;
			font-weight: bold;
			font-size: 1.15em;
			width: 45%;
			height: 40px;
			text-align: center;
			line-height: 40px;
			bottom: 0;
			border-top: none;
			border-bottom: 2px solid #d8d8d8;
			border-left: 2px solid #d8d8d8;
			border-right: 2px solid #d8d8d8;


			&.save {
				position: absolute;
				left: 0;
				border-bottom-left-radius: 25px;
			}
			&.copy {
				position: absolute;
				right: 1px;
				border-bottom-right-radius: 25px;
			}
			&:hover {
				cursor: pointer;
				background-color: #d8d8d8;
			}
		}
	}
}
.header {
	color: #F3F4F5;
	background-color: #27313C;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	position: relative;

	.logo {
		height: 150px;
	}
	.phrase {
		position: absolute;
		right: 20px;
	}
	.presets {
		position: absolute;
		right: 20px;
		bottom: 20px;
	}
}
.footer{
	color: #F3F4F5;
	background-color: #292c2f;
	width: 90%;
	text-align: left;
	padding: 45px 5%;
}
/*
	END #591.23
*/


/*
	Page Layout
	STAYS THE SAME
	#11211
*/
body {
	min-width: 1100px;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.main-content {
	flex: 1 0 auto;
}
.footer, .header {
	flex: 0 0 auto;
}
/*
	END #11211
*/


/*
	MY DEFAULT STYLES
	#1034.02
*/
.font-dosis {
	font-family: 'Dosis', sans-serif;
}
.font-indieflower {
	font-family: 'Indie Flower', cursive;
}
.font-mirza {
	font-family: 'Mirza', cursive;
}
.clear {
	clear: both;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hidden {
	display: none !important;
}
/*
	END #1034.02
*/
